<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662252735533-unulllq5k4v7vr63g8rbk9avk35ojqf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662252735533-unulllq5k4v7vr63g8rbk9avk35ojqf2</string>
	<key>API_KEY</key>
	<string>AIzaSyCafOewBA57BvSHpsM4PT8L_OkH5PZmOmw</string>
	<key>GCM_SENDER_ID</key>
	<string>662252735533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swen325.roots</string>
	<key>PROJECT_ID</key>
	<string>roots-e5868</string>
	<key>STORAGE_BUCKET</key>
	<string>roots-e5868.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662252735533:ios:b540a6428e3e4f28283ca4</string>
	<key>DATABASE_URL</key>
	<string>https://roots-e5868-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>